@page
@model CopaAmerica.App.FrontEnd.Pages.CrudEquipo.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Equipo.EquipoId" />
            <div class="form-group">
                <label asp-for="Equipo.NombreEquipo" class="control-label"></label>
                <input asp-for="Equipo.NombreEquipo" class="form-control" />
                <span asp-validation-for="Equipo.NombreEquipo" class="text-danger"></span>
            </div>
            <dl class="row">
                <dt class="col-sm-10">
                    Director Técnico
                </dt>
            </dl>
            <div class="form-group">
                <input type="hidden" asp-for="DT.DirectorTecnicoId" />
                <input type="hidden" asp-for="DT.PersonaId" />
                <label class="control-label">Nombre</label>
                <input asp-for="DT.Persona.Nombre" class="form-control" />
                <span asp-validation-for="DT.Persona.Nombre" class="text-danger"></span>
                <label class="control-label">Apellido</label>
                <input asp-for="DT.Persona.Apellido" class="form-control" />
                <span asp-validation-for="DT.Persona.Apellido" class="text-danger"></span>
                <label class="control-label">Nacionalidad</label>
                <input asp-for="DT.Nacionalidad" class="form-control" />
                <span asp-validation-for="DT.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
